@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import 'tailwindcss';

@theme {
  /* 🎨 Colors */
  --color-btn: #000070;
  --color-link: #2a5bd7;
  --color-background: #ffffff;
  --color-043780: #043780;
  --color-476f95: #476f95;
  --color-C2E8FF: #C2E8FF;
  --color-7EA0C5: #7EA0C5;
  --color-5482B4: #5482B4;
  --color-052659: #052659;
  


  --color-hero-heading: var(--color-5482B4);
  --color-secondary: var(--color-7EA0C5);
  --color-para-color: var(--color-052659);
  --color-card-title: #011025;

  /* 🖼️ Background Gradients */
  /* --bg-custom-gradient: linear-gradient(to right, #3b82f6, #9333ea);
  --bg-custom-gradient-2: linear-gradient(to left, #3b82f6, #f43f5e);
  --bg-card-gradient: linear-gradient(to right, #38b2ac, #4299e1); */
   --bg-nav-gradient: linear-gradient(115deg, #3e6bff, #001226);

  /* 🌫️ Shadows */
  --shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
  --shadow-right: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);

  /* 🔤 Fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
@layer utilities {
  .bg-custom-gradient {
    background-image: linear-gradient(to right, #3b82f6, #9333ea);
  }
  .bg-custom-gradient-2 {
    background-image: linear-gradient(to left, #3b82f6, #f43f5e);
  }
  .bg-card-gradient {
    background-image: linear-gradient(to right, #38b2ac, #4299e1);
  }
  .bg-navfoot-gradient {
    background-image: linear-gradient(115deg, #001499, #00123b);
  }
}

.dark {
  --color-background: #030812;
  --color-foreground: #f8fafc;
  --color-para-color: #cbd5e1;
  --color-card-title: rgba(253, 254, 255, 0.962);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease;
}

